#title {
    background-color: yellow;
    color: black;
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    font-family: sans-serif;
}
.recipe-list {
    color: rgba(0, 0, 0, 0.952);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
}
.link-styled{
    font-size: 19px;
}
.title1 {
    background-color: rgb(165, 148, 148);
    color: black;
    font-size: 38px;
    
}
.title-2 {
    font-size: 30px;
    background-color: rgb(165, 148, 148);
    color: black;
}